<!doctype html>
<html data-ng-app="CallPop" data-ng-csp="">
    <head>
        <meta charset="utf-8">
        <title>Singleton Window</title>
        <link href="assets/main.css" rel="stylesheet">
    </head>
    <body>

        <div ng-controller="CallPopController">
            
            
            <a class="close" href="javascript:void" ng-click="close()">x</a>

            <div ng-cloak ng-show="call.from_contacts.length > 0">
                <div class="contact-block" ng-repeat="contact in call.from_contacts | limitTo:1">
                    <div class="left-part">
                        <div class="call-icon">
                            <div ng-hide="ring">
                                <contact-image url="{{contact.image_url}}" id="cid"></contact-image>
                            </div>
                        </div>
                    </div>
                    <div class="right-part">
                        <!--<a ng-href="{{contact.url}}" target="_newtab">Go to contact</a>-->
                        <h1>{{contact.name}}</h1>
                        <div class="company">{{contact.company}}</div>
                        <div>{{contact.company_role}}</div>
                        <div ng-show="answered">Answered By: {{answeredBy}}</div>
                    </div>
                </div>
            </div>
            <div class="contact-block" ng-cloak ng-hide="call.from_contacts.length > 0">
                <div class="left-part">
                    <div class="call-icon"></div>
                </div>
                <div class="right-part">
                    <h1>Unknown</h1>
                    {{call.from}}
                </div>
            </div>

            <div class="contact-block" ng-cloak ng-hide="answeredBy == ''">
                <div class="left-part">
                    <div class="call-icon"></div>
                </div>
                <div class="right-part">
                    <h1>{{answeredBy}}</h1>
                </div>
            </div>

        </div>
        <script src="vendor/angular.min.js"></script>
        <script src="vendor/angular-route.min.js"></script>
        <script src="callpop.js"></script>
    </body>
</html>