body {font-family: "helvetica neue", arial;font-size:12px;background:#000 url('bg.jpg') no-repeat 0 0;border-left:4px solid #499ccf;-webkit-app-region: drag;margin:0;width:420px;color:#fff;}
.right-part{float:left;padding-top:10px;}
.left-part{float:left;}
.call-icon {margin:10px;width:114px;height:114px;background-image:url('ringing.png');}
.call-icon img{border-radius:100px;width:114px;}
h1{font-family:arial-black, helvetica, arial;font-size:22px;margin-bottom:0px;}
p{margin-top:0px;}
[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
.ng-hide {display:none!important;}
.ng-show {display:block!important;}
.close{curosr:pointer;position:absolute;top:5px;right:10px;padding:5px;color:#fff;text-decoration:none;}
.company{font-size:20px;}
.contact-block{overflow:hidden;width:424px;}